// variables
$hoverBg: #E2EBFF;
$selectedColor: #4C80F1;
$selectedHoverColor: #2D61D0;
$selectBg: #fff;
$selectActiveBg: #EFEFEF;
$selectHoverBg: #F9F9F9;

$defaultColor: #333;
$defaultBorderColor: #DADBDF;
$defaultBorderRadius: 8px;
$defaultShadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);

$btnBg: $selectedColor;
$btnHoverBg: $selectedHoverColor;
$disableColor: $defaultBorderColor;
$selectBorder: $defaultBorderColor;


// init
* {
  box-sizing: border-box;
}
.App {
  padding: 20px;
  color: $defaultColor;

  .info { margin-bottom: 30px; font-size: 20px; }
  .icon {
    transition: all .3s ease-in-out;
    user-select: none;
  }
}

// common
.divide-line {
  width: 100%;
  height: 1px;
  background: $defaultBorderColor;
  margin: 32px 0;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;

  &.right {
    justify-content: flex-end;
  }
}

.btn {
  padding: 10px;
  border: 1px solid $defaultBorderColor;
  border-radius: $defaultBorderRadius;
  background: #fff;
  cursor: pointer;
  min-width: 80px;
  user-select: none;

  &:hover {
    background: $selectedColor;
    color: #fff;
  }
}

.select-box {
  border: 1px solid $selectBorder;
  border-radius: $defaultBorderRadius;
  padding: 0 16px;
  height: 44px;
  background: $selectBg;
  cursor: pointer;
  position: relative;

  &:hover {
    background: $selectHoverBg;
  }

  &.active {
    background: $selectActiveBg;

    .icon {
      transform: rotate(180deg)
    }
  }

  .select-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .select-icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $defaultColor transparent transparent transparent;
  }

  .entry {
    width: 100%;
    background: #fff;
    border-radius: $defaultBorderRadius;
    box-shadow: $defaultShadow;
    position: absolute;
    left: 0;
    transform: translateY(20px);
    opacity: 0;
    height: 220px;
    z-index: 1;
    animation: .3s popup forwards;
    overflow: auto;

    &.component {
      height: auto;
      width: auto;
    }

    .item {
      padding: 0 16px;
      cursor: pointer;
      font-size: 14px;
      line-height: 44px;

      &:hover {
        background: $selectHoverBg;
      }
    }
  }
}

.select-group {
  display: flex;
  align-items: center;
  gap: 16px;

  .select-box {
    width: 100%;
  }
}

// popup
.popup-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);

  .popup-window {
    box-sizing: border-box;
    width: 90vw;
    max-width: 754px;
    height: 505px;
    padding: 40px 84px;
    border-radius: $defaultBorderRadius;
    background: #fff;
    transform: translateY(20px);
    opacity: 0;
    animation: .3s popup forwards;

    .popup-title {
      font-weight: 700;
      font-size: 44px;
      line-height: 65px;
      color: $defaultColor;
      margin-bottom: 50px;
    }

    .popup-sub-title {
      font-weight: 400;
      font-size: 14px;
      padding-left: 10px;
      margin-bottom: 10px;
    }

    .content-wrapper {
      height: calc(100% - 40px);
    }
  }
}

// calendar
.calendar-wrapper {
  width: 320px;
  box-sizing: border-box;
  background: $selectHoverBg;
  border-radius: $defaultBorderRadius;
  box-shadow: $defaultShadow;
  padding: 16px 12px;
  cursor: default;

  .calendar-header {
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;

    .calendar-title {
      width: 100%;
    }

    .btn {
      width: 36px;
      height: 36px;
      min-width: 36px;
      border-radius: 50%;
      background: transparent;
      border: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: rgba(0, 0, 0, 0.04);
        color: $defaultColor;
      }
    }

    .prev-icon, .next-icon {
      display: block;
      width: 8px;
      height: 12px;
      background-image: url("data:image/svg+xml, %3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 6L1 11' stroke='%238A8A8F'/%3E%3C/svg%3E%0A");
    }

    .prev-icon {
      transform: rotate(180deg);
    }
  }

  .calendar-body {
    .week {
      color: #999;
      text-align: center;
      line-height: 32px;
      display: grid;
      grid-gap: 5px 12px;
      grid-template-columns: repeat(7, 32px);
      user-select: none;

      .day {
        color: $defaultColor;
        border-radius: 50%;
        cursor: pointer;

        &.prev, &.next {
          color: $disableColor;
          pointer-events: none;
          cursor: default;
        }

        &:hover {
          background: $hoverBg;
          color: $selectedColor;
        }

        &.active {
          color: #fff;
          background: $selectedColor;

          &:hover {
            background: $selectedHoverColor;
          }
        }
      }
    }

    .calendar {
      &.flex {
        display: flex;
        position: absolute;
        background: $selectHoverBg;
      }
    }
  }
}

@keyframes popup {
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

@media screen and (max-width: 768px) {
  .popup-bg {
    .popup-window {
      height: auto;
    }
  }
  .select-group {
    display: block;
    .select-box {
      min-width: auto!important;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 489px) {
  .popup-bg {
    display: block;
    .popup-window {
      width: 100%;
      padding: 20px;
      .popup-title { font-size: 20px; line-height: 30px; margin-bottom: 20px; }
    }
  }
}
